<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2.7.0rc1" package="com.siam" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:targetSdkVersion="29" android:minSdkVersion="24" />
	<application android:label="SIAM SERVICE" android:icon="@mipmap/main_icon" android:roundIcon="@mipmap/main_ricon" android:theme="@style/MainTheme" android:noHistory="true" android:finishOnTaskLaunch="true" android:requestLegacyExternalStorage="true"></application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
	<uses-feature android:name="android.hardware.usb.host" android:required="true" />
</manifest>