<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net472" />
  <package id="Autofac" version="4.9.4" targetFramework="net472" />
  <package id="DirectWindowsWinmd.Net" version="10.0.15063.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.2" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.0.2" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.2" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Console" version="4.3.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.3.0.908675" targetFramework="net472" />
  <package id="Xamarin.Forms.DebugRainbows" version="1.0.16" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.3.0.908675" targetFramework="net472" />
</packages>